<div>
    <h3>Second Page Displayed</h3>
</div>
<div>
    <fieldset>
        <legend>Second Page Displayed</legend>
        Mobile Number:
        <input type="text" ng-model="MobileNumber" />
        <br />
        Email ID:
        <input type="text" ng-model="EmailID" />
    </fieldset>
</div>
